<div class="card" data-postid="{{this._id}}">
    <div class="cardpic" style="background-image: url(https://api.adorable.io/avatars/285/{{this.username}}.png)"></div>
    <p class="cardname">
        <a href="/users/{{this.username}}">{{this.username}}</a>
    </p>
    <p class="carddate">{{this.datePretty}}</p>
    <p class="cardcaption">{{this.description}}</p>
    <a class="cardpreview" href="{{this.path}}">
        <i class="fa fa-{{fileType this.path}}"></i>
        <span>{{this.name}}</span>
    </a>
    <div class="cardtags">
        <span>Tags: </span>
        {{#each this.tags}}
        <a href="/posts/search?query={{this}}">{{this}}</a>
        {{/each}}
    </div>
    <div class="cardcontrols">
        <span class="cardkarma">{{this.karma}}</span>
        <a class="cardup" data-value="1" data-toggle="{{isInside user.username this.upvotes}}" href="#"><i class="fa fa-arrow-up"></i></a>
        <a class="carddown" data-value="-1" data-toggle="{{isInside user.username this.downvotes}}" href="#"><i class="fa fa-arrow-down"></i></a>
        <a class="cardlink" href="/posts/{{this._id}}"><i class="fa fa-link"></i></a>
    </div>
    <div class="cardcomments">
        {{#if comments}}
        {{#each comments}}
        {{> comment this user=../user}}
        {{/each}}
        {{/if}}
    </div>
    <div class="cardcom">
        <textarea placeholder="Leave a comment..."></textarea>
        <a href="#" class="comsubmit">Add Comment <i class="fa fa-arrow-right"></i></a>
    </div>
    {{#isEqual user.username this.username}}
    <i class="close"><i class="fa fa-close"></i></i>
    {{/isEqual}}
</div>
