<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>notenote</title>
	<link rel="author" href="/humans.txt">
	<link rel="icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/media/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/sidebar.css">
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/lemonade.min.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="/js/jquery-3.0.0.min.js"></script>
</head>
<body>
	<nav id="sidebar-left">
		<div class="logo">
			<i class="fa fa-pencil fa-2x"></i>
			<h1>notenote</h1>
			<p>- share knowledge -</p>
		</div>
		<a href="/"><i class="fa fa-home"></i> Home</a>
		<a href="/top"><i class="fa fa-star"></i> Highest Rated</a>
		<a href="/leaderboard"><i class="fa fa-trophy"></i> Leaderboard</a>
		<a href="/users/{{user.username}}"><i class="fa fa-user"></i> {{user.username}}</a>
		<a href="/posts/upload"><i class="fa fa-plus"></i> Upload Notes</a>
		<a href="/questions/add"><i class="fa fa-question-circle"></i> Ask Questions</a>
		<a href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a>
	</nav>
	<section class="cardbox">
		{{{body}}}
	</section>
	<div id="branding"><i class="fa fa-bars"></i></div>
	<script src="/js/moment.min.js"></script>
	<script src="/js/custom/main.js"></script>
	<script src="/js/custom/responsive.js"></script>
	<link rel="stylesheet" href="/css/ohsnap.css">
	{{> alert this}}
</body>
</html>
