<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>notenote</title>
	<link rel="author" href="/humans.txt">
	<link rel="icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/media/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/lemonade.min.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="/js/jquery-3.0.0.min.js"></script>
</head>
<body>
	<main>
		<section class="head">
			<div class="container">
				<div class="bit-2 left">
					<i class="fa fa-pencil fa-2x"></i>
					<h1 class="m">notenote</h1>
					<p>- share knowledge -</p><br>
				</div>
				<div class="bit-2 right">
					<form method="POST" action="/signin">
						<p class="m login">Login</p>
						<input type="text" placeholder="username" class="text" name="username" required>
						<input type="password" placeholder="password" class="text" name="password" required>
						<input type="submit" class="button" value="Submit">
						<p class="or">or</p>
						<a class="button" href="/register">new account</a>
					</form>
				</div>
			</div>
		</section>
		<section class="body">
			<h1>What is <span class="m">notenote</span>?</h1>
			<div class="bit-3 ad">
				<h2>Share Notes</h2>
				<i class="fa fa-share"></i>
				<p>Upload notes for any subject to share with the world! After all, sharing is caring right?</p>
			</div>
			<div class="bit-3 ad">
				<h2>Make Friends</h2>
				<i class="fa fa-group"></i>
				<p>Sick of studying alone? Find friends to study the same subjects together!</p>
			</div>
			<div class="bit-3 ad">
				<h2>Leaderboards</h2>
				<i class="fa fa-trophy"></i>
				<p>Earn karma for sharing good notes and make your way up the leaderboards!</p>
			</div>
			<div>&nbsp;</div>
		</section>
	</main>
	{{> alert this}}
</body>
</html>
