<div class="card table">
	<table>
	<thead>
		<tr>
			<th>Ranking</th>
			<th>Username</th>
			<th>Karma</th>
		</tr>
	</thead>
	<tbody>
		{{#each users}}
		<tr>
			<td>{{add @index 1}}</td>
			<td><a href="/users/{{this.username}}">{{this.username}}</a></td>
			<td>{{this.karma}}</td>
		</tr>
		{{/each}}
	</tbody>
	</table>
</div>
