<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>notenote</title>
	<link rel="author" href="/humans.txt">
	<link rel="icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/media/favicon.png" type="image/png">
	<link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/lemonade.min.css">
	<link href='https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<script src="/js/jquery-3.0.0.min.js"></script>
</head>
<body>
	<main>
		<section class="head full">
			<div class="container">
				<a href="/"><div class="bit-2 left">
					<i class="fa fa-pencil fa-2x"></i>
					<h1 class="m">notenote</h1>
					<p>- share knowledge -</p><br>
				</div></a>
				<div class="bit-2 right">
					<form method="POST" action="/signup">
						<p class="m login">New Account</p>
						<input type="text" placeholder="username" class="text" name="username">
						<input type="password" placeholder="password" class="text" name="password">
						<input type="password" placeholder="confirm password" class="text" name="password2">
						<input type="submit" class="button" value="Submit">
						<p class="or">or</p>
						<a class="button" href="/">Login</a>
					</form>
				</div>
			</div>
		</section>
	</main>
	{{> alert this}}
</body>
</html>
