<div class="card add">
	<form method="POST" action="/posts" enctype="multipart/form-data">
		<p class="addnew"><i class="fa fa-plus"></i> Upload Notes</p>
		<textarea class="addtext" placeholder="A brief description" name="text"></textarea>
		<input type="file" class="addfile" id="file" name="file" required>
		<span id="addbtn" class="addbutton">Upload File...</span><input type="text" class="addfilename" placeholder="File Name" name="name"></span>
		<input type="text" class="addtext" placeholder="Tag your notes (comma separated)" name="tags">
		<input type="submit" class="addbutton" value="Upload">
	</form>
</div>
<script src="/js/custom/upload.js"></script>
